.experience-wrapper{
  background-color: rgb(201, 236, 205);
  padding: 2rem;
  height: 70vh;
  margin-left:30px  ;
  margin-right: 30px;
  margin-top: 20px;
  
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  border: 0.25px solid rgb(63, 62, 62);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-bottom: 25px;
  position: relative;
  top: -27px;

   
  
}
 .tab{
  border: 2px solid green;
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: 375px;
  height: 42px;


}

.tab span{
  margin-left: 10px;
  font-weight: bold;

}
.tab.active{
  background-color: green;
  color: white;
  border-color: white;
}
.experience-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  row-gap: 1.8em;
  column-gap: 15rem;
  position: relative;
  
}
.experience-card{
  background:transparent;
  border-left: 4px solid green;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
  height: 10em;
  width: 25em;
}
.timeline-dot{
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -11.8px;
  top: -14px;
  border: 5px solid green;
}

@media screen and (max-width: 768px) {
  .experience-wrapper{
   
    height: 70vh;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
  }
  .tabs {
    flex-direction: row;
    gap: 10px;
    margin-bottom: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.5rem;
    top: -10px;
  }
  .tab{
    width: 120px;
    height: 40px;
    padding: 5px 10px;
  }
  .experience-grid{
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    row-gap: 7em;
    column-gap: 3em;
    
  }
  .experience-card{
    margin-top: 18px;
    background:transparent;
    border-left: 4px solid green;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    height: 4em;
    width: 12em;
  }
  .tab{
    font-size: 13px;
  }

  
}