.navbar {
  display: flex;
  position: relative;
  top: 10px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 15 30;
  width: 1240px;
  height: 65px;
  margin-left: 55px;
  text-decoration: none;



}

button {
  width: 120px;
  height: 45px;
  background-color: #069431;
  color: #111;
  border: none;
  border-radius: 17px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 45 150 710 1170;
  margin-right: 1em;
}

button:hover {
  background-color: #057a29;
}

button:active {
  background-color: rgb(142, 238, 201);
}

.list {
  display: flex;
  flex-direction: row;
  gap: 60px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;


}
.list.active {
  display: flex;;
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

body {
  background-color: rgba(154, 188, 231, 1);
  margin-top: 50;
}

.logo {
  display: flex;
  width: 60px;
  height: 50px;
  margin-left: 30px;

}

.nav-link {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;

}

.nav-link:hover {
  color: #010913;

}
.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
      
      margin:10px;
      width: 450px;
      
      
      position: relative;
    }
    .menu-icon {
      display: block;
      margin-left: 10px;
      margin-top: -150px;
      margin-bottom: 10px;
   
   
      
      
     
      
    }
    .list {
      display: none;
      flex-direction: column;
      width: 100%;
      gap: 10px;
      margin-top: 10px;
      position: absolute;
      top: 100%;
      z-index: 90;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      background-color:rgb(204, 219, 209);
      border-radius: 0 0 20px 20px;

    }
    .list.active {
      display: flex;

    }
    .nav-link {
      font-size: 16px;
      margin: 5px 0;
    }

    .button{
      display: flex;
     
      
    }
    .logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90px;
      height: 80px;
     
      
     
      margin-top: -10px;
    }
    .button-container{
      display: flex;
      justify-content: center;
      margin-left: 20em;
      margin-top: -10.5em;
      margin-bottom: 10px;
    }
    .menu{
      width: 30px;
      height: 30px;
    }
    .logo-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 7.4em;
      margin-top: 10px;
     
    }
      

    
    
 
  
}