.footer {
    background-color: #222;
    color: #ddd;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
  }
  
  .footer-links a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #00ff00; 
  }
  .social-icon {
    display: flex;
    justify-content: center;
    
    width: 60px;
    height: 40px;
    background-color: thistle;
    transform: translateY(-3px);
  }
  .social-icons{
    display: flex;
    gap: 20px;
  }
  .social-icon hover{
    transform: translateY(-3px);
  }