.title{
    font-size: 20px;
    font-weight: bold;
    color: green;
    letter-spacing: 1px;
    position: relative;
    top: 2em;
   
    display: flex;
    justify-content: center;
} 
.main-title-p{
    font-size: 62px;
    font-weight: extra-bold;
    text-align: center;
    margin-top: 48px;
    color: #080808;
}
.portfolio-grid{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 4.2em;
   
  

}
.portfolio-card{
    background-color: #c6f7d5;
    padding: 2rem;
    border-radius: 20px;
    width: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    height: 100px;
}
.portfolio-card:hover{
    transform: translateY(-10px);
}
.portfolio-image{
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 3px;

}
@media screen and (max-width:760px) {
    .title{
        font-size: 14px;
    }
    .main-title-p{
        font-size:38px;
    }
    .greem{
        font-size: 38px;
    }
    .portfolio-card{
        background-color: #c6f7d5;
        padding: 10px;
        border-radius: 20px;
        width: 150px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s ease;
        height: 100px;
}
}